/* Bismillahir Rahmanir Raheem */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteinar{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.conteinar-one{
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}
/* .........header section start......... */
#header{
    background: #477018;
    height:50px;
}
.header-dtails{
    padding:15px 0;
}
.header-dtails p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* manu bar Start */
.manu-dtails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 40px 0 41px 0;
    
}


.manu-center{
    width: 659px;
    height: 19px;
}
.manu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manu-list li{
    list-style: none;
}
.manu-list li a{
    text-decoration: none;
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.25s all ease;
}
.manu-list li a:hover{
    color: #477018;
    transition: 0.25s all ease;
    font-weight: 600;
}
.right-icon{
    display: flex;
    gap: 20px;
}
.right-icon i{
    font-size:18px;
}
.icon-possition{
    position: relative;
}
.r-i{
    height: 15px;
    width: 15px;
    border: 1px solid #F47606;
    border-radius:50%;
    background-color: #F47606;
    position: absolute;
    top: 0;
    left:8px;
}
.r-i h6{
    color: #FFF;
}

/* ..........banner section start.......... */
.banner-img{
    background-image: url(../image/banner-img.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 700px;
}
.main-banner{
    height: 700px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.banner-dteils-h1{
    width: 550px;
    height: 273px;
}
.banner-dteils-h1 h1{
    color: #282828;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-span{
    color: #F47606;
}
.banner-dtails-p{
    width: 402px;
    height: 56px;
}
.banner-dtails-p p{
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.btn{
    padding: 14px 50px;
    border: none;
    border-radius: 10px;
    background: #477018;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    
}