/* Bismillahir Rahmanir Raheem */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteinar{
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.conteinar-one{
    width: 1600px;
    height: 100%;
    margin: 0 auto;
}
/* .........header section start......... */
#header{
    background: #477018;
    height:50px;
}
.header-dtails{
    padding:15px 0;
}
.header-dtails p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* manu bar Start */
.manu-dtails{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 40px 0 41px 0;
    
}


.manu-center{
    width: 659px;
    height: 19px;
}
.manu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manu-list li{
    list-style: none;
}
.manu-list li a{
    text-decoration: none;
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.25s all ease;
}
.manu-list li a:hover{
    color: #477018;
    transition: 0.25s all ease;
    font-weight: 600;
}
.right-icon{
    display: flex;
    gap: 20px;
}
.right-icon i{
    font-size:18px;
}
.icon-possition{
    position: relative;
}
.r-i{
    height: 15px;
    width: 15px;
    border: 1px solid #F47606;
    border-radius:50%;
    background-color: #F47606;
    position: absolute;
    top: 0;
    left:8px;
}
.r-i h6{
    color: #FFF;
}
.icon-magnifying i{
    color: #477018;
}
/* ..........banner section start.......... */
.banner-img{
    background-image: url(../image/banner-img.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height:700px;
}
.main-banner{
    height: 700px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.banner-dteils-h1{
    width: 550px;
    height: 273px;
}
.banner-dteils-h1 h1{
    color: #282828;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-span{
    color: #F47606;
}
.banner-dtails-p{
    width: 402px;
    height: 56px;
}
.banner-dtails-p p{
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.btn{
    padding: 14px 50px;
    border: none;
    border-radius: 10px;
    background: #477018;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    
}
/* new section  */
.banner-buttom-dtails{
    margin-top:130px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.servises{
    width: 267px;
    height: 320px;
    border-radius: 25px;
    border: 0.5px solid #C9C9C9;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-icon i{
    padding-bottom: 30px;
    font-size: 40px;
    color: #F47606;
}
.banner-bottom-text h1{
    color: #282828;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.banner-bottom-text-p{
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    padding-top: 10px;
}
/* vagiable section start */
#vegitable{
    padding-top: 130px;
}
.main-vagiteble-dtails{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 24px;
}
.vagiteble-list{
    width: 170px;
    height: 190px;
    background-color:#ffffff;
    
}
.vagiteble-img{
    position: relative;
}
.vagiteble-img img{
    width: 100%;
    height: 100%;
    
}
.v-icon{
    position: absolute;
    top:40%;
    left:-20px;
    width: 40px;
    height:40px;
    border: none;
    background-color: #FAFAFA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.v-icon i{
    font-size:25px;
}
.r-icon{
    position: absolute;
    top:40%;
    right:-20px;
    width: 40px;
    height:40px;
    border: none;
    background-color:#F47606;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.r-icon i{
    font-size: 25px;
    color: #FFFF;
}
.vagitable-name{
    text-align: center;
    padding-top: 13px;
}
.vagitable-name p{
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* fetured section start */
#featured-products{
    padding-top: 130px;
}
.fetured-left h1{
    color: #282828;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fetured-dtails{
    display: flex;
    justify-content: space-between;
}
.fetured-right{
    display: flex;
    gap:20px;
    align-items: center;
}
.fetured-left-one p{
    color: #F47606;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.fetured-left-two i{
    color: #F47606;
}

.featured-main-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top:47px;
} 

.fetured-full{
    width: 365px;
    height: 572px;
    position: relative;
}
.featured-card{
    width: 100%;
    height: 100%;
}
.fetured-card-img{
    width: 364px;
    height: 450px;
 
}
.fetured-card-img img{
    width: 100%;
    height: 100%;
}
.fetured-card-bootm{
    width: 250px;
    height: 89px;
    margin-top: 30px;
    background-color:#FFF;
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    text-align: center;
    margin-left: 65px;
}
.fetured-icon i{
    color:#FFAE00;
}
.fetured-text p{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fetured-text-p p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/* hover55555555555555555 */

.hover-dtails{
     display: none;
    position: absolute;
     bottom: 25%;
    left:20%;
    background-color:none;
    height:47px;
    width: 236px; 
    text-align: center;
    border-radius: 10px;
    transition: 3s all ease-out;
}

.hover-grid{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
}

.h-icon{
    width: 40px;
    height:40px;
    border: none;
    background-color:#FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-icon i{
    font-size:22px;
    color: #676767;
}
.io{
    background-color: #F47606;
}
.io i{
    color:#ffffff;
    background-color: #F47606;
}
.fetured-hover img{
    width: 236px;
    height: 47px;
}
.fetured-full:hover .hover-dtails{
    display: block;
    transition: 1s all ease-in;
    
}

/* <<<<<<<<<<<<<<Why Choose section start >>>>>>>>>>>>>>>*/
#choose-us{
    padding-top: 130px;
}
.chouse-top h1{
    color: #282828;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.chouse-dtails{
    margin-top: 47px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.chouse-card{
    width: 356px;
    height: 211px;
    background-color:#FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chouse-card-img{
    width: 85px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.chouse-card-img img{
    width: 52px;
    height: 53px;
}
.chouse-card-h2{
    padding-top: 30px;
}
.chouse-card-h2 h2{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.chouse-card-p {
    width: 356px;
    margin-top: 13px;
}
.chouse-card-p p{
    color: #676767;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
/* new section start */
/* Fruits Healthy section start */
#fruits-healthy{
    padding-top: 130px;
}


.fruits-banner{
    background-image:url(/image/baground-02.png);
    height: 400px;
}

.banner-two-dtails{
    display: flex;
    flex-direction: column;
    padding: 92px 0 0 104px;
    


}
.banner-two-h1 h1{
    color: #282828;
    text-align: cente;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-two-p{
    width: 402px;
    padding-top: 20px;
}
.banner-two-p p{
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.banner-two-btn{
    padding-top: 30px;
}

/* all productsection start */

#all-product{
    padding-top: 130px;
}
.all-product-header{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.header-left h1{
    color: #282828;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-right{
    display: flex;
    align-items: center;
    width: 576px;
    height: 28px;
    justify-content: space-between;
}

.header-manu-list{
   
    display: flex;
    justify-content: center;
}
.header-manu-list li{
    list-style: none;
}
.header-manu-list li a{
    text-decoration: none;
    color: #676767;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    
}
.padding-l{
    padding-left:40px;
}
.banner-i-r{
    padding-right: 30px;
}
.header-manu-list li a:hover {
    color: #F47606;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.hrader-icon-r{
    color: #F47606;
}

/* new section */

#new-card-three{
    padding-top: 57px;
}
.new-card-three-{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 24px;
}
/* new-section-start */
#deal-week{
    padding-top: 130px;
}
.deal-week-dtails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deal-week-left h1{
    color: #282828;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.deal-week-right-dtails{
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.day{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #F47606;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.day h6{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.day p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hour{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #F9F9F9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.hour h6{
    color: #F47606;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hour p{
    color: #F47606;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* deal week banner section start */
#deal-week-banner{
    margin-top: 50px;
}
.deal-week-main-img{
    height: 400px;
    background-image: url(/image/bagroung-04.png);
}

.deal-week-banner-dtails{
    padding-top: 85px;
    padding-left: 125px;
}
.deal-week-banner-h1 h1{
    color: #282828;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; 
}

.deal-week-banner-p{
    padding-top: 18px;
}

.deal-week-banner-p p{
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* top reted section start */

#top-product{
    padding-top: 130px;
}
.top-card{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 24px;
    margin-top: 50px;
}
.oone p{
color: #676767;
}

.tooo i{
    color: #676767;
}

/* product section start */
#product{
    padding-top: 137px;
}
.product-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-head-left h1{
    color: #282828;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-head-right{
    width: 530px;
    height: 28px;
}
.product-head-right li{
    list-style: none;
}
.product-head-right li a{
    text-decoration: none;
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    transition: 0s all ease;
}
.top-flex{
    display: flex;
    justify-content: space-between;
}
.product-head-right li a:hover {
    color: #F47606;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    transition: 0s all ease;
}

/* new section start */


.icon-gap{
width: 115px;
display: flex;
justify-content: space-between;
}

/* .product-new-card{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 120px;
}
.product-old-card p{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.product-old-card p{
    color: #000;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
} */


.testomonial-head{
    padding-top: 130px;
}
.testomonia-left{
    width: 588px;
    height: 422px;
    border-radius: 10px;
    border: 0.5px solid #C9C9C9;
}

.testimonial-dtails{
    display: flex;
    justify-content: center;
}


.left-t-p{
    width: 466px;
    height: 112px;
}
.left-t-p p{
    width: 100%;
    color: #676767;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.left-main-dtails-t{
    padding: 76px 0 0 46px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.left-pic-dtails{
    width: 215px ;
    height: 100%;
    display: flex;
    justify-content: center;
    gap:20px;
}
.left-t-img{
    width: 51px;height: 51px;
}
.left-t-img img{
    width: 100%;
    height: 100%;
}
.left-t-h1{
    width: 145px;
    height: 56px;
}
.left-t-h1 h6{
    color: #282828;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.left-t-h1 p{
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}

.right-main-dtails-t{
    width: 588px;
    height:100% ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-card-t{
    width: 588px;
    height: 199px;
    border-radius: 10px;
    border: 0.5px solid #C9C9C9;
    padding:34px 0 0 46px;
    position: relative;
}
.r-card-p{
    width: 466px;
}
.r-card-t-imges{
    width: 51px;
    height: 51px;
}

.r-card-t-dtails{
    width: 215px ;
    height: 100%;
    display: flex;
    gap: 20px;
    /* margin-top: 20px; */
}

.r-card-t-imges img{
    width: 100%;
    height: 100%;
}
.r-card-t-h1 {
    height: 56px;
    width: 110px;
}
.r-card-t-h1 h6{
    color: #282828;
   font-size: 20px;
   font-style: normal;
   font-weight: 600;
   line-height: 28px; 
}
.r-card-t-h1 p{
    color: #676767;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.right-possition-img{
    width: 23px;
    height: 19px;

}
.right-possition-img img{
    width: 100%;
    height: 100%;
}
.right-possition-t{
    position: absolute;
    left: 70%;
    bottom:50px;
}
.r-extra-h{
    width: 137px;
}